* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato";
  color: #3a3a3a;
  height: 100vh;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  /*  */
  /* grid */
  display: grid;
  grid-template-columns: 80px 400px 1fr 250px;
  grid-template-rows: 80px 1fr;
  overflow: hidden;
}
nav {
  background: #3a3a3a;
  grid-row: 1/-1;
  color: #fafafa;
}
menu {
  background: rgb(90, 6, 168);
  grid-column: 2/-1;
  display: flex;
  gap: 10px;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}
button {
  padding: 8px 16px;
  border: none;
  background: rgb(80, 4, 150);
  color: #fafafa;
  cursor: pointer;
}
button:last-child {
  margin-left: auto;
  background: rgb(170, 4, 45);
}
.email {
  background: #919090;
  padding: 16px 62px;
}
section {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 24px;
  overflow-y: scroll;
}
section,
aside {
  background: #b9b5b5;
}
main {
  color: #3a3a3a;
}
nav,
section,
aside,
main {
  padding: 10px 0;
}
